body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .contenedo_msj {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.contenedo_msj .mensaje-izq,
.contenedo_msj .mensaje-der {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}
.contenedo_msj .mensaje-der {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.contenedo_msj .mensaje-izq .avatar,
.contenedo_msj .mensaje-der .avatar {
  display: block;
  background-color: #e8ecf1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.mensaje-izq .cuerpo_msj,
.mensaje-der .cuerpo_msj {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-left: 20px;
  width: calc(100% - 50px - 20px);
  position: relative;
}
.contenedo_msj .mensaje-izq .cuerpo_msj {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.contenedo_msj .mensaje-der .cuerpo_msj {
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.mensaje-der .cuerpo_msj {
  margin-right: 20px;
  margin-left: 0;
}
.mensaje-izq .cuerpo_msj .msj-texto,
.mensaje-der .cuerpo_msj .msj-texto {
  padding: 10px;
  font-size: 0.8em;
  background-color: #939e93;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}
.mensaje-der .cuerpo_msj .msj-texto {
  background-color: #46cf48;
  color:black;
}

.mensaje-izq .cuerpo_msj .tiempo,
.mensaje-der .cuerpo_msj .tiempo {
  font-size: 0.75em;
  color: #929292;
  display: inline-block;
  padding: 0 5px;
}

.mensaje-izq .cuerpo_msj .tiempo i,
.mensaje-der .cuerpo_msj .tiempo i {
  margin-right: 0.5rem;
}

.mensaje-izq .cuerpo_msj:before,
.mensaje-der .cuerpo_msj:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 13px 13px 13px 13px;
  top: 5px;
}
.mensaje-izq .cuerpo_msj:before {
  border-right-color: #939e93;
  left: -25px;
}
.mensaje-der .cuerpo_msj:before {
  border-left-color: #46cf48;
  right: -25px;
}
}
